/.idea/shelf/Uncommitted_changes_before_Update_at_1_9_23,_2_22_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_1_8_23__9_34_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_1_8_23__9_35_PM__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_1_9_23__2_22_PM__Changes_.xml
